<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="container">
    <div class="input-container">
        <form th:action="@{/calculate}" method="post" id="calculationForm">
            <input class="mt-4" type="text" id="inputField" name="inputValue" th:value="${inputValue}" readonly>
        </form>
    </div>
    <div class="button-container">
        <div class="row">
            <div class="col-3"></div>

            <div class="col-6">
                <div class="text-center">
                    <div class="row mt-4">
                        <div class="col">
                            <button class="btn btn-danger custom-btn" type="submit" form="calculationForm" onclick="submitForm()">=</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger custom-btn" onclick="clearInput()">C</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger custom-btn" data-value="=" onclick="deleteInput()">del</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="7" onclick="appendInput()">7</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="8" onclick="appendInput()">8</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="9" onclick="appendInput()">9</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="4" onclick="appendInput()">4</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="5" onclick="appendInput()">5</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="6" onclick="appendInput()">6</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="1" onclick="appendInput()">1</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="2" onclick="appendInput()">2</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="3" onclick="appendInput()">3</button>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-4">
                            <button class="btn btn-primary custom-btn" data-value="0" onclick="appendInput()">0</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="row mt-4">
                    <div class="col-3">
                        <button class="btn btn-danger custom-btn" data-value=" + " onclick="appendInput()">+</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-danger custom-btn" data-value=" - " onclick="appendInput()">-</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-danger custom-btn" data-value=" * " onclick="appendInput()">*</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-danger custom-btn" data-value=" / " onclick="appendInput()">/</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h4>History:</h4>
    <ul>
        <li th:each="entry : ${history}" th:text="${entry}"></li>
    </ul>
    <form th:action="@{/clearHistory}" method="post">
        <button class="btn btn-danger" type="submit">Clear History</button>
    </form>
</div>

<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>

</body>
</html>
