<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<style>
    .custom-btn {
        width: 100%;
        margin-bottom: 10px;
    }
    .input-container {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="container">
    <div class="input-container">
        <input class="mt-4" type="text" id="inputField" th:value="${inputValue}" readonly>
    </div>

    <div class="button-container">
        <div class="row">
            <div class="col-3"></div>

            <div class="col-6">
                <div class="text-center">
                    <div class="row mt-4">
                        <div class="col">
                            <button class="btn btn-danger custom-btn" data-value="=" onclick="calculate()">=</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger custom-btn"                onclick="clearInput()">C</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger custom-btn" data-value="=" onclick="deleteInput()">del</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="7" onclick="appendInput()">7</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="8" onclick="appendInput()">8</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="9" onclick="appendInput()">9</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="4" onclick="appendInput()">4</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="5" onclick="appendInput()">5</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="6" onclick="appendInput()">6</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="1" onclick="appendInput()">1</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="2" onclick="appendInput()">2</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary custom-btn" data-value="3" onclick="appendInput()">3</button>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-4">
                            <button class="btn btn-primary custom-btn" data-value="0" onclick="appendInput()">0</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="row mt-4">
                    <col-3>
                        <button class="btn btn-danger custom-btn" data-value=" + " onclick="appendInput()">+</button>
                    </col-3>
                </div>
                <div class="row">
                    <col-3>
                        <button class="btn btn-danger custom-btn" data-value=" - " onclick="appendInput()">-</button>
                    </col-3>
                </div>
                <div class="row">
                    <col-3>
                        <button class="btn btn-danger custom-btn" data-value=" * " onclick="appendInput()">*</button>
                    </col-3>
                </div>
                <div class="row">
                    <col-3>
                        <button class="btn btn-danger custom-btn" data-value=" / " onclick="appendInput()">/</button>
                    </col-3>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var inputField = document.getElementById('inputField');

    function appendInput() {
        var button = event.target;
        var value = button.getAttribute("data-value");
        var currentValue = inputField.value;
        inputField.value = currentValue + value;
    }
    function clearInput() {
        inputField.value = "";
    }
</script>
</body>
</html>